<html>
	<head>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="web/css/style.css">
		<title>Distributed Publish Subscribe System - CS237</title>
	</head>
	<body ng-app="myApp" ng-cloak>
		<div ng-controller="myController" style="padding:10px">
		    <div class="row">
				<div class="publish col-sm-4" style="border:1px solid grey">
				     <h4>Publish Message</h4>     
	                 
				     <form ng-submit="publish()">
				         <div class="form-group">
				             <textarea ng-model="publishMessage.content" class="form-control" placeholder="Type the Publish Message"></textarea>
				             <br/>
				             <div class="form-inline">
					             <label>Select Topic:</label>
					             <select name="topic-select" class="form-control" ng-model="publishMessage.topic">
					                 <option ng-cloak ng-repeat="topic in topics" ng-value="topic">{{topic}}</option>
					             </select>
				             </div>
				             <br/>
				             <div class="form-inline">
				                 <label>Location:</label>
	                             <input class="form-control" type="text" ng-model="publishMessage.location" placeholder="Location"/>
				             </div>
				             <br/>
				             <input type="submit" value="Publish" class="btn btn-primary"/>
				             <div ng-cloak ng-show="publishSuccessMessage" class="alert alert-success">
				                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							    <strong>Success!</strong>Published the message successfully to the server
							  </div>
							  <div ng-cloak  ng-show="publishFailureMessage" class="alert alert-danger">
							    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							    <strong>Error!</strong> Publish to the server failed
							  </div>
				         </div>
				         
				     </form>
				</div>
				<div class="subscribe col-sm-4" style="border:1px solid grey">
	                 <h4>Subscribe/Unsubscribe</h4>     
	                 
	                 <form ng-submit="subscribe()">
	                     <div class="form-group">
	                         <div class="form-inline">
	                             <label>Select Topic:</label>
	                             <select name="topic-select" class="form-control" ng-model="subscribeMessage.topic">
	                                 <option ng-repeat="topic in topics" ng-value="topic">{{topic}}</option>
	                             </select> 
                                <input type="submit" class="btn btn-primary" value="Subscribe"/>
	                         </div>
	                         <br/>
	                         <div ng-cloak ng-show="subscribeSuccessMessage" class="alert alert-success">
	                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	                            <strong>Success!</strong>Subscribed to the topic successfully
	                          </div>
	                          <div ng-cloak  ng-show="subscribeFailureMessage" class="alert alert-danger">
	                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	                            <strong>Error!</strong>Subscribe to the topic failed
	                          </div>
	                     </div>
	                 </form>
	                 <form ng-submit="unSubscribe()">
                         <div class="form-group">
                             <div class="form-inline">
                                 <label>Select Topic:</label>
                                 <select name="topic-select" class="form-control" ng-model="unSubscribeMessage.topic">
                                     <option ng-repeat="topic in subscribedTopics" ng-value="topic">{{topic}}</option>
                                 </select> 
                                <input type="submit" class="btn btn-primary" value="UnSubscribe"/>
                             </div>
                             <br/>
                             <div ng-cloak ng-show="unSubscribeSuccessMessage" class="alert alert-success">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Success!</strong>UnSubscribed to the topic successfully
                              </div>
                              <div ng-cloak  ng-show="unSubscribeFailureMessage" class="alert alert-danger">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Error!</strong>UnSubscribe to the topic failed
                              </div>
                         </div>
                     </form>
	            </div>
				<div class="topic col-sm-4" style="border:1px solid grey">
	                 <h4>Create Topic</h4>     
	                 
	                 <form ng-submit="createTopic()">
	                     <div class="form-group">
	                         <div class="form-inline">
	                             <label>Topic:</label>
	                             <input class="form-control" type="text" ng-model="createTopicMessage.topic" placeholder="New Topic Name"/>
	                         </div>
	                         <br/>
	                         <input type="submit" class="btn btn-primary" value="CreateTopic"/>
	                         <div ng-cloak ng-show="createTopicSuccessMessage" class="alert alert-success">
	                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	                            <strong>Success!</strong>Created the topic successfully
	                          </div>
	                          <div ng-cloak  ng-show="createTopicFailureMessage" class="alert alert-danger">
	                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	                            <strong>Error!</strong>Create Topic Failed
	                          </div>
	                     </div>
	                     
	                 </form>
	            </div>
	        </div>
	        <br/>
            <div class="row">
	            <div class="messages col-sm-6" style="border:1px solid grey">
	                 <h4>Message Feed</h4>     
	                 
	                 <div>
	                    <p><strong>Topic: </strong>{{currentMessage.topic}}<strong> Location: </strong>{{currentMessage.location}}</p>
	                    <p><strong>Content: </strong>{{currentMessage.content}}</p>
	                    <p><strong>Relevant Information: </strong>{{currentMessage.relevantInfo}}</p>
	                 </div>
	                 <button ng-click="getPreviousMessage()" class="btn"><strong>&lt</strong></button>
	                 <button ng-click="getNextMessage()" class="btn"><strong>&gt</strong></button>
	            </div>
            </div>
            
		</div>
		<script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src = "web/js/app.js"></script>
	</body>
	
</html>	